  <h2>Successfull</h2>
  <%= @interviewee.email %>
<%= @interviewee.name %>
 <%= @interviewee.clg %>
 <%= @interviewee.cgpa %>
 <%# <%= @interviewee.resume%> 
 <a href= <%=@interviewee.resume.url%>>Resume</a><br><br>