<h3> Adding a New Schedule</h3>
<%= form_for :schedule , html: { multipart: true } , url: schedules_path(@schedule) do |f| %>
    <%if @schedule.errors.any? %> 
       <% @schedule.errors.full_messages.each do |msg| %>
          <%= msg %><br>
       <% end %>
    <% end %> 
    <% flash.each do |type, msg| %>
      <div>
      <%= msg %><br>
      </div>
    <% end %>
    <p>
        <%= f.label :Interviewer_Email %><br>
        <%= f.text_field :email1 %>
    </p>
 
    <p>
        <%= f.label :Interviewee_Email %><br>
        <%= f.text_field :email2 %>
    </p>
    <p>
        <%= f.label :start_Time %><br>
        <%= f.datetime_field :st %>
    </p>
    <p>
        <%= f.label :end_Time %><br>
        <%= f.datetime_field :end%>
    </p>


    

    <p>
          <%= f.submit :create%>
    </p>
<% end %>