<h2>Schedule</h2>
  Interviewer :<%= @schedule.email1 %><br>
Interviewee :<%= @schedule.email2%><br>
 Start Time:<%= @schedule.st %><br>
 End Time :<%= @schedule.end %><br>
 <p>
 <h2>Interviewee Details</h2>
 <% @intee.each do |p|%>
   Name :<%= p.name%><br>
   Email :<%= p.email%><br>
   College  :<%= p.clg%><br>
   CGPA :<%= p.cgpa%><br>
   <a href=<%=p.resume.url %> target="_blank" >Resume</a>

 <% end %>
 </p>